<!-- nav -->
<nav class="navbar navbar-expand navbar-dark d-flex justify-content-between p-2 bd-navbar brand-color" *ngIf="user">
    <div class="text-white d-flex align-items-center">
        <img src="assets/icons/logo.png" alt="">
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div id="status"></div>
<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
