<!-- nav -->
<nav class="navbar navbar-expand navbar-dark d-flex justify-content-between p-2 bd-navbar brand-color" *ngIf="user">
    <div class="text-white d-flex align-items-center">
        <img src="assets/icons/logo.png" alt="">
    </div>
    <div class="navbar-nav d-flex align-items-center">
        <div class="wifi-status">
            <!-- <img *ngIf="isOnline" width="40" height="40" src="assets/icons/wifi.svg" alt=""> -->
            <span *ngIf="isOnline" width="40" height="40"  class="material-icons-outlined">
                wifi
                </span>
            <span *ngIf="!isOnline" width="40" height="40" class="material-icons-outlined">
                wifi_off
            </span>
        </div>
        
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<div id="status"></div>
<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <block-ui>
        <router-outlet></router-outlet>
    </block-ui>
</div>
